<!DOCTYPE html>
<html lang="en">

<head>
    <!-- favicon -->
    <link rel="shortcut icon" href="images/icon/favicon.io">
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <!-- Title Page-->
    <title>Dashboard</title>

    {{> style }}
    
    <!-- Jquery JS -->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <script>const baseUrl = `{{baseUrl}}`; </script>
    
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {{> mobile-header }}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        {{> menu-sidebar }}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {{> desktop-header }}
            <!-- HEADER DESKTOP-->

            <!-- Lpader -->
            <div class="loader" id="loader" style="display: none;">Loading...</div>

            <!-- MAIN CONTENT-->
            {{{ body }}}
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    {{> script }}

</body>

</html>
<!-- end document-->