/* Start - Loader */
#loader {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #343a40;
    background-image: url("../images/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
}
/* End - Loader */